@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

.hind-font {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
